<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LAX_Movie_Application.Properties.Settings.LAXMovieConnectionString"
            connectionString="Data Source=TEC-A0-PC19\LAXDATABASE;Initial Catalog=LAXMovie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="ConString" connectionString="Data source=TEC-A0-PC19\LAXDATABASE;Initial Catalog=LaxDB; User ID=Andrula;Password=Poli1010!"/>

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>